.club-container {
  width: 90vw;
  margin: 0 auto;

  .post-container {
    padding-bottom: 20px;

    h2, h3, img {
      padding: 20px 0;
    }

    img {
      display: block;
      width: auto;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .club-container {
      width: 50vw;
  }
}
