.not-found-container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 20px 20px 20px;

  p {
    padding-bottom: 10px;
    
    &.message {
      text-align: center;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .not-found-container {
    width: 50vw;
  }
}
