.clubs-container {
  .post {
    position: relative;
    margin: 0 auto 20px auto;
    max-height: 300px;
    overflow-y: hidden;    
    border: 1px solid #177707;
    border-radius: 4px;

    .post-title {
        padding: 10px;
        background: #ffccae;
    }

    .post-text {
        padding: 10px;
    }

    .read-more-container {
        position: absolute;
        bottom: 0;
        right: 12px;
        display: block;
        width: 100%;
        padding: 5px;
        text-align: right;
        background: #fff;
    }
  }
}
