.admin-roles-container {
  margin-top: 20px;
  border-top: 1px solid green;

  label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  .current-admins-heading {
    padding: 20px 0 5px 0;
  }

  .current-admins-list {
    list-style-type: none;
  }
}

@media only screen and (min-width: 768px) {
  .admin-roles-container {
    margin-top: 0;
    border-top: none;  
  }
}
