.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../../assets/images/hero-image.jpg');
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 10px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.latest-blog-posts {
    padding: 20px 0;
    text-align: center;
}

.latest-posts-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 10%;

    .post {
        position: relative;
        width: 100%;
        margin: 0 auto 20px auto;
        padding: 10px 10px 30px 10px;
        border-top: 1px solid #000;
    
        .post-title {
            padding: 0 0 10px 0;
        }

        hr {
            border-top: 1px solid #d02f8f;
        }
    
        .post-text {
            padding: 5px 0 0 0;
        }
    
        .read-more-container {
            position: absolute;
            right: 15px;
            bottom: 5px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .hero-text {
        font-size: 1.5rem;
    }

    .latest-posts-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
