.input-holder {
  label {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
  
    &[type=submit] {
      background: green;
      color: #fff;
      font-size: 1.1rem;
      cursor: pointer;
  
      &:hover {
        background: darkgreen;
      }
    }

    &.invalid {
      background-color: #f94d4d;
    }
  }
}
