.content {
  min-height: calc(100vh - 50px);
}

.heading {
  text-align: center;
  padding: 20px 0;
}

.forms-container {
  form {
    width: 50vw;
    margin: 0 auto;
  }
}

.success-btn {
  color: #fff;
  font-size: 1.1rem;
  background: green;
  cursor: pointer;

  &:hover {
    background: darkgreen;
  }
}

.alert-btn {
  color: #fff;
  font-size: 1.1rem;
  background: red;
  cursor: pointer;

  &:hover {
    background: #ce0000;
  }
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;

  li {
    display: block;
    padding: 10px;
    background: #eee;
    border: 1px solid #bbb;
    cursor: pointer;
    
    &:hover {
      background: #ffccae;
    }
  }
}
