.admin-dashboard-container {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 20px;

  .post {
    padding: 10px;
  }

  .post:nth-child(even) {
    background: #ffeab9;
  }

  .post:hover {
    background: #80f573;
  }

  .add-post {
    margin-top: 20px;
    border-top: 1px solid green;
  }

  hr {
    border-top: 1px solid #2b7b2d;
  }

  a {
    color: #000;
  }

  a:hover {
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .admin-dashboard-container {
    display: flex;
    width: 90vw;

    & > div {
      flex: 50%;
    }

    .add-post {
      margin-top: 0;
      border-top: none;
    }
  }
}
